<div class="app-body" style="background-image: url(assets/img/bg_19.jpg);background-repeat: no-repeat;background-size: cover;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form  class="h-100 d-flex flex-column align-items-between justify-content-between">
                  <h1>Login</h1>
             
                  <div class="row">
                    <div class="col-12">
                      <a href="/dashboard" type="button" class="btn btn-primary px-4 btn-block">Login</a>
                    </div>
                   
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Account can be created via email request</p>
                  <p>info@gorafeeq.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
